<<<<<<< HEAD
html, body{
  background-color: #D7D7D7;
  margin : 0 auto;
  max-width: 100%;
=======
html body{
  margin : 0% 0%;
  margin-right: 0%;
  margin-left: 0%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
>>>>>>> origin/master
}

#header{
	background-color: #699A62;
	color: black;
	line-height: 80px;
}

#headerText{
  position:relative;
  margin-left: 130px;
}

#headerimg{
  position: absolute;
  width: 90px;
  height: 90px;
	top: 15px;
	margin-left: 30px;
}

#mainTitle{
  font-family: "Century Gothic";
	font-size: 45px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}

#slogan{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 40px;
}

#signOptions{
  position: absolute;
<<<<<<< HEAD
  margin-left: 85%;
  top: 5%;
=======
	top: 25px;
	left: 1050px;
>>>>>>> origin/master
}

#signOptions ul{
  list-style: none;
  font-family: "Franklin Gothic Medium";
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
}

#signOptions li{
  padding-right: 10px;
  display: inline;
}

#signOptions a{
  text-decoration: none;
  color: black;
}

#search{
  position: absolute;
  margin: 0 auto;
  margin-top: 5%;
  width: 100%;
  z-index: 10;
}

#search .searchQuestion{
  text-align: center;
  font-family: "Goudy Old Style";
	font-size: 40px;
	font-style: oblique;
	font-variant: normal;
	font-weight: normal;
	line-height: 49.5px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#search .searchbox{
  margin: 0 auto;
  background-color: #f6f6f6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eae8e8));
	background-image: -webkit-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: -moz-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: -ms-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: -o-linear-gradient(top, #f6f6f6, #eae8e8);
	background-image: linear-gradient(top, #f6f6f6, #eae8e8);
	border-color: #dedede #bababa #aaa #bababa;
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
	-moz-box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
	box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
	overflow: hidden;
	padding: 8px;
	width: 450px;
}

#search .searchbox #searchb{
  border: 1px solid #CCC;
	-webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	-moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
  color: #999;
	float: center;
	font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
	height: 20px;
	padding: 10px;
	width: 320px;
}

#search .searchbox #searchb:focus {
	border-color: #aaa;
	-webkit-box-shadow: 0 1px 1px #bbb inset;
	-moz-box-shadow: 0 1px 1px #bbb inset;
	box-shadow: 0 1px 1px #bbb inset;
	outline: 0;
}

#search .searchbox #searchb:-moz-placeholder,
#search .searchbox #searchb:-ms-input-placeholder,
#search .searchbox #searchb::-webkit-input-placeholder {
	color: #999;
	font-weight: normal;
}

#search .searchbox  #submit {
	background-color: #0483a0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
	background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
	background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
	background-image: linear-gradient(top, #31b2c3, #0483a0);
	border: 1px solid #00748f;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
	color: #fafafa;
	cursor: pointer;
	height: 42px;
	float: right;
	font: 15px Arial, Helvetica;
	text-transform: uppercase;
	text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
	width: 100px;
}

.fadein {
  position: relative;
  z-index: 5;
}

.fadein img{
  width: 100%;
}
