html, body{
  background-color: #D7D7D7;
  margin: 0 auto;
  max-width: 100%;
}

#header{
	background-color: #699A62;
	color: black;
	line-height: 80px;
}

#headerText{
	position:relative;
	margin-left: 130px;
}

#headerimg{
	position: absolute;
	width: 90px;
	height: 90px;
	top: 15px;
	margin-left: 30px;
}

#mainTitle{
	font-family: "Century Gothic";
	font-size: 45px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}

#slogan{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 40px;
}

#signOptions{
  position: absolute;
  margin-left: 80%;
  top: 8%;
}

#signOptions ul{
	list-style: none;
	font-family: "Franklin Gothic Medium";
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
}

#signOptions li{
  padding-right: 20px;
  display: inline;
}

#signOptions a{
  text-decoration: none;
  color: black;
}

#restPic{
  position: static;
  margin-top: 30px;
  margin-left: 50px;
}

#restaurantName{
  font-family: "Century Gothic";
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;

  position: static;
  margin-top: 20px;
  margin-left: 40px;
}

.data{
  position: static;
  margin-top: -300px;
  margin-left: 600px;
  border: 1px solid black;
  border-radius: 3px;
  width: 400px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#AFB0B0), to(#949494));
}

.data h2{
  position: static;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Century Gothic";
	font-size: 20px;
  font-weight: bold;
}

.data p{
  position: static;
  margin-left: 10px;
  font-family: "Century Gothic";
	font-size: 18px;
  font-weight: 400;
}

#map{
  position:static;
  margin-left: 600px;
  margin-top: 50px;
}

.comments{
  position: static;
  margin-left: 100px;
  margin-top: 30px;
}

#reviewsection{
  font-family: "Century Gothic";
	font-size: 30px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
}

.comment{
  position: relative;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#989999), to(#C9C9C9));
  font-family: "Century Gothic";
	font-size: 14px;
  width: 800px;
  height: auto;
}

.comment #username {
  position: static;
  margin-top: -55px;
  margin-left: 60px;
  font-weight: bold;
}

.comment #score{
  position: static;
  margin-left: 65px;
  margin-top: 6px;
  margin-bottom: 5px;
}

.comment #review{
  position: static;
  margin-left: 65px;
}

.comment img{
  margin: 5px 5px 5px 5px;
}

#review_button{
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #0483a0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
  background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
  background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
  background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
  background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
  background-image: linear-gradient(top, #31b2c3, #0483a0);
  border: 1px solid #00748f;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #FFF;
  color: #fafafa;
  cursor: pointer;
  height: 42px;
  font: 15px Arial, Helvetica;
  text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
}

.userInput{
  position: static;
  margin-bottom: 10px;
}

.restaurantreply{
  position: static;
  margin-top: 5px;
  margin-left: 50px;
  margin-bottom: 10px;
  width: 750px;
  border: 1px solid black;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#C5C5C5), to(#C9C9C9));
}

.restaurantreply p{
  font-family: "Century Gothic";
	font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
}

.restaurantreply .restaurantName{
  font-weight: bold;
}

.restaurantreply .reply{
  margin-left: 8px;
}

.add_reply {
  cursor: pointer;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 8px;
  font-weight: bold;
}

.reply_form_class{
  font-family: "Century Gothic";
  font-size: 14px;
  position: static;
  margin-left: 15px;
  margin-top: 5px;
}

.replyInput{
  width: 300px;
  height: 50px;
}

#replyButton{
  position: static;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#submitButton{
  margin-left: 10px;
  margin-top: 3px;
}

.reviewInput{
  width: 300px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#warnings{
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: #953939;
}

.warnings{
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #953939;
}
